<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:theme="@style/Theme.HappyWork">
        <activity
            android:name=".HomeFeaturedSPKActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".activity.webView.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.spk.MapsAdressActivity"
            android:exported="true" />
        <activity
            android:name=".activity.home.HomeSPKActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatAmbilPekerjaanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.callCenter.DaftarCallCenterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatVerifikasiActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.spk.VerifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.SplashScreenSPKActivity"
            android:exported="false"/>
        <activity android:name=".activity.spk.riwayat.DetailRiwayatSpkActivity" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatSpkActivity" />
        <activity android:name=".activity.spk.search.SearchPengawasActivity" />
        <activity android:name=".activity.login.LoginSPKActivity" />
        <activity android:name=".activity.spk.InputSpkActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>