<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_pekerjaanteknik">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="false" />
    </dist:module>
    
    <application android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".DeletedNowMainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.webView.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.spk.MapsAdressActivity"
            android:exported="true" />
        <activity
            android:name=".activity.home.HomeSPKActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatAmbilPekerjaanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.callCenter.DaftarCallCenterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatVerifikasiActivity"
            android:exported="false"
            android:parentActivityName=".activity.home.HomeActivity" />
        <activity
            android:name=".activity.spk.VerifikasiActivity"
            android:exported="false" />

        <activity
            android:name=".activity.splash.SplashScreenActivity"
            android:exported="true">
        </activity>

        <activity android:name=".activity.spk.riwayat.DetailRiwayatSpkActivity" />
        <activity
            android:name=".activity.spk.riwayat.RiwayatSpkActivity"
            android:parentActivityName=".activity.home.HomeActivity" />
        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.HappyWork.NoActionBar" />
        <activity android:name=".activity.spk.search.SearchPengawasActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.spk.InputSpkActivity" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".utils.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-6810772781589252~7079417271" />-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>


</manifest>