<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"> <!-- <queries> -->
    <!-- <intent> -->
    <!-- <action android:name="android.intent.action.SEND" /> -->
    <!-- <data android:mimeType="image/jpeg" /> -->
    <!-- </intent> -->
    <!--  -->
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="33"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <!--    ======================================-->

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyWork"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.DigitalSignatureActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.permintaan_persetujuan.activity.PersetujuanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.menuLainnya.WebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.menuLainnya.ListWebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.DetailLemburActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.RiwayatLemburActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.DetailPerjalananDinasActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.RiwayatPerjalananDinasActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.activity.DetailCutiActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.activity.RiwayatCutiActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.DetailKoreksiKehadiranActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.permintaan_persetujuan.activity.PermintaanActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.KoreksiKehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.PerjalananDinasActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.LemburActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.activity.CutiActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.RiwayatKoreksiKehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.daftarKehadiran.DaftarKehadiranActivity"
            android:exported="true" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.splash.IntroActivity" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.splash.SplashScreenActivity"
            android:exported="true"
            android:keepScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.ScanQRCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.QrCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.presensi.PresensiActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.presensi.CheckLocationActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.perangkat.PerangkatActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.ReisterActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.WelcomeAuthActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.payslip.PayslipActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.home.activity.KehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.dashboard.DashboardActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <service
            android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6810772781589252~8659403587" />
    </application>

    <queries>
        <package android:name="com.lexa.fakegps" />
        <package android:name="com.blogspot.newapphorizons.fakegps" />
        <package android:name="com.just4funtools.fakegpslocationprofessional" />
        <package android:name="com.gsmartstudio.fakegps" />
        <package android:name="com.ninja.toolkit.pulse.fake.gps.pro" />
        <package android:name="com.incorporateapps.fakegps.fre" />
        <package android:name="com.locationchanger" />
        <package android:name="com.marlon.floating.fake.location" />
        <package android:name="com.g_c.fakesnapmap" />
        <package android:name="com.incorporateapps.fakegps_route" />
        <package android:name="com.evezzon.fakegps" />
        <package android:name="u.gavrikov.mocklocations" />
        <package android:name="com.fakelocator.fakegpslocationspoofer" />
        <package android:name="com.hopefactory2021.fakegpslocation" />
        <package android:name="pp.steve.fakeroute" />
        <package android:name="ru.gavrikov.mocklocations" />
        <package android:name="com.pe.fakegpsrun" />
        <package android:name="com.pe.fakegps" />
        <package android:name="com.rosteam.gpsemulator" />
        <package android:name="location.changer.fake.gps.spoof.emulator" />
        <package android:name="fr.dvilleneuve.lockito" />
        <package android:name="com.imyfone.anytoandroid" />
        <package android:name="com.rasfar.mock.location" />
        <package android:name="com.fly.gps" />
        <package android:name="com.discipleskies.mock_location_spoofer" />
        <package android:name="fake.gps.location" />
        <package android:name="com.appanchor.fakegps" />
        <package android:name="com.fakegps.fakelocation.fakegps" />
        <package android:name="project.listick.fakegps" />
        <package android:name="net.marlove.mockgps" />
        <package android:name="com.g_c.fakesnapmap" />
        <package android:name="com.theappninjas.fakegpsjoystick" />
        <package android:name="com.xdoapp.virtualphonenavigation" />
        <package android:name="com.foxbytecode.gpslocker" />
        <package android:name="app.steve.fakeroute" />

        <package android:name="com.mock.cartage" />
        <package android:name="com.incorporateapps.fakegps" />
        <package android:name="com.project.jp.fakegpsgo"/>
        <package android:name="com.ce.uk312"/>
        <package android:name="com.pe.fakegps"/>
        <package android:name="gp.com.turnersark.fakegpspaid"/>
        <package android:name="com.lkr.fakelocation"/>
        <package android:name="com.pe.fakegpsrun"/>
        <package android:name="com.adaptivebits.fakegpslocation"/>
        <package android:name="find.my.friends.family.gps.location.tracker"/>
        <package android:name="tisinadev.activegps"/>
        <package android:name="com.gpsmapcamera.geotagginglocationonphoto"/>
        <package android:name="com.lapacadevs.gpsfaker"/>
        <package android:name="com.rayo.savecurrentlocation"/>
        <package android:name="yaacode.android.gps.movegps.premium"/>
        <package android:name="com.mocker.mockloc"/>
        <package android:name="com.phongphan.fakegps"/>
        <package android:name="com.electro_tex.fakegpslocation"/>
        <package android:name="com.fakegps.fakelocation"/>
        <package android:name="com.seeworld.gljdw"/>
        <package android:name="pt.com.turnersark.fakegpsfulllocationpro"/>
        <package android:name="com.str.mor.mockloc"/>
        <package android:name="app.fake.caller.id.second.number.spoof.calling.com"/>
        <package android:name="com.finder_portal.pajportal"/>
        <package android:name="com.tlm.location.tracker"/>
        <package android:name="com.spoofcard.app"/>
        <package android:name="com.eyezy.android"/>
        <package android:name="com.wondershare.geonection"/>
        <package android:name="com.ixolit.ipvanish"/>
        <package android:name="app.geoloc"/>
        <package android:name="com.contorra.golfpad"/>
        <package android:name="com.plusinfosys.fakegpslocation"/>
        <package android:name="com.nauman.fakesyncpro"/>
        <package android:name="com.locationtrack.fakegps.mocklocation.fakegpslocation"/>
        <package android:name="com.meowsbox.netgps"/>
        <package android:name="com.jkfantasy.gpsmapcamera"/>
        <package android:name="com.ourpact.androidparent"/>
        <package android:name="com.kaspersky.safekids"/>
        <package android:name="com.adt.sosecure.android"/>
        <package android:name="com.neogulabs.fakegps"/>
        <package android:name="net.bigdatacloud.iptools"/>
        <package android:name="luo.gpsspeed_pro"/>
        <package android:name="com.digrasoft.mygpslocation"/>
        <package android:name="com.chartcross.gpstest"/>
        <package android:name="com.hidemyip.hideme"/>
        <package android:name="me.pokeraid"/>
        <package android:name="com.locationtracker.plus"/>
        <package android:name="com.xmstudio.locationmock"/>
        <package android:name="com.app.fake.gps"/>
        <package android:name="de.mobileconcepts.cyberghost"/>
        <package android:name="com.vzw.smartlocatorhub"/>
        <package android:name="com.Idle.rpg.freeTDgames"/>
        <package android:name="com.spooffakegps.locationchanger"/>
        <package android:name="com.chronicles.gp"/>
        <package android:name="com.github.kr328.clash"/>
        <package android:name="org.celltrack.app"/>
        <package android:name="com.ninjafighting.stickman"/>
        <package android:name="com.uangcermat.aksesku"/>
        <package android:name="com.lovestyle.mapwalker.android"/>
        <package android:name="com.localhookupdating.android"/>
        <package android:name="yash.naplarmuno"/>
        <package android:name="com.exien.fakegps"/>
        <package android:name="luo.speedviewgpspro"/>
        <package android:name="com.getmalus.malus"/>
        <package android:name="com.idans.locationfaker"/>
        <package android:name="com.antidetector.spyappfinder"/>
        <package android:name="luo.speedviewgpspro" />
        <package android:name="com.gpsserver.gpsservermobile"/>
        <package android:name="at.appmonkey.fakegps"/>
        <package android:name="com.paktor"/>
        <package android:name="com.fw.gps.lhyk"/>
        <package android:name="com.zombie.defend.shooter.farm"/>
        <package android:name="com.tool.fakegpslocation"/>
        <package android:name="com.hopefactory2021.gpscamera"/>
        <package android:name="br.com.mobileti.fakegpslocation"/>
        <package android:name="travel.minskguide.geotag"/>
        <package android:name="com.ssolstice.fakegps"/>
        <package android:name="fakelocation.gps.wifi"/>
        <package android:name="com.pierwiastek.gpsdata"/>
        <package android:name="com.ilm.sandwich"/>
        <package android:name="net.xnano.android.gpsfakerunning"/>
        <package android:name="com.ka.fakegps.flygps.locationchanger.mocklocation.fakegpslocation"/>
        <package android:name="com.ruivop.fakeweather"/>
        <package android:name="com.gps.fakegps.route"/>
        <package android:name="uk.co.hilmy.wild"/>
        <package android:name="com.exatools.gpsdata"/>
        <package android:name="com.gk.fakebuster3d"/>
        <package android:name="com.khachartch.fakegps"/>
        <package android:name="com.ltp.pro.fakelocation"/>
        <package android:name="com.clashofstats"/>
        <package android:name="mocklocation.gpsfakelocation.fakegps.gpsemulator.gpsjoystick.changemylocation"/>
        <package android:name="com.rapid.vpn.unlimited.hotspot.secure"/>
        <package android:name="kr.sira.gps"/>
        <package android:name="com.kbks.galaxy.shooting"/>
        <package android:name="com.appmaker.userlocation"/>
        <package android:name="com.flashlight.lite.gps.logger"/>
        <package android:name="com.playfake.fakechat.telefun"/>
        <package android:name="luo.gpsspeed"/>
        <package android:name="com.voice.gps.driving.directions.gps.navigation.maps.location"/>
        <package android:name="com.hungqd.fakegps"/>
        <package android:name="com.gonext.gpsphotolocation"/>
        <package android:name="com.dga.smart.gpslocation.share.photostamp"/>
        <package android:name="yaacode.android.gps.movegps.free"/>
        <package android:name="app.grapheneos.pdfviewer.play"/>
        <package android:name="kiulomb.it.questreader"/>
        <package android:name="com.funreality.software.nativefindmyiphone.lite"/>
        <package android:name="net.gpsserver.gpsservermobile"/>
        <package android:name="com.momo.fakegps.locationchanger"/>
        <package android:name="com.electro_tex.matrixapppro"/>
        <package android:name="com.silentlexx.gpslock"/>
        <package android:name="com.clockwk.GPSAntiSpoof"/>
        <package android:name="com.emilburzo.graticule"/>
        <package android:name="com.electro_tex.fakegps"/>
        <package android:name="com.hungrydroid.locationsettings"/>
        <package android:name="com.voice.gps.driving.directions.lite"/>
        <package android:name="com.faster.vpn.stable.fast.vpn.proxy"/>
        <package android:name="havefunapps.tilttofakegpslocation"/>
        <package android:name="com.gpsmapcameralite.geotagphotolocation"/>
        <package android:name="app.ronzano.mocklocation"/>
        <package android:name="com.crosserr.trojan"/>
        <package android:name="de.p72b.mocklation"/>
        <package android:name="com.geocomply.oobeeapp"/>
        <package android:name="freefakegps.gpslocationchanger.fake.gps.pro.Emulator.SpooferGPSChanger.mocklocations"/>
        <package android:name="com.fakegps.mockgps"/>
        <package android:name="com.phtracker.gpslogger"/>
        <package android:name="com.electro_tex.fakegpsgo"/>
        <package android:name="com.mobihome.livemobilelocationtracker"/>
        <package android:name="com.gpsvideocamera.videotimestamp"/>
        <package android:name="com.singlesaroundme.android"/>
        <package android:name="com.safisoft.fakelocation_duckgps"/>
        <package android:name="com.amphebia.mapsspeedlimits"/>
        <package android:name="com.compass.weatherforecast.navigation2021"/>
        <package android:name="com.sm.gpsvideolocation"/>
        <package android:name="com.clebsonsystem.fakelivelocation"/>
        <package android:name="com.pokemod.velocity"/>
        <package android:name="com.ctappmaker.fakegpswithjoystick"/>
        <package android:name="com.silentlexx.gpslockprime"/>
        <package android:name="com.live.voice.navigation.driving.directions.gps.maps"/>
        <package android:name="com.divi.fakeGPS"/>
        <package android:name="com.artds.gpsvideocamera"/>
        <package android:name="com.best.vpn.proxy.private.vpn.master"/>
        <package android:name="com.bricatta.GPSTetherServer_FE"/>
        <package android:name="com.jkldev.srcvp.apri"/>
        <package android:name="com.ta.My.Fake.Location.Fake.GPS"/>
        <package android:name="com.videohunt.like.app.me"/>
        <package android:name="org.maxapp.puzzle.block.jewel"/>
        <package android:name="com.homestudio.fake.gps.location.pro"/>
        <package android:name="com.fake.gps.location.tracker.map"/>
        <package android:name="com.webmajstr.gpson"/>
        <package android:name="com.turboirc.tgps.v2015"/>
        <package android:name="br.com.eyetech.fakegpslocation"/>
        <package android:name="com.rongtongh.ysgj_oversea"/>
        <package android:name="com.ob.timestampcamera"/>
        <package android:name="com.joyend.jumloc"/>
        <package android:name="com.artds.gps.camera"/>
        <package android:name="fr.enb_analytics.mygpsposition"/>
        <package android:name="com.gps.maps.appsence"/>
        <package android:name="com.s_studio.PDFTool"/>
        <package android:name="com.maxisystem.fakelivelocation"/>
        <package android:name="in.testskill.anilkumarbhardwaj.gps"/>
        <package android:name="com.aplications.adimov.gpsfakeapp"/>
        <package android:name="org.bruxo.gpsconnected"/>
        <package android:name="com.gps_go"/>
        <package android:name="com.eomsbd.falselocation"/>
        <package android:name="com.tistory.maxxgreen.app.virtuallocation"/>
        <package android:name="com.app.tools.town.gps.camera.live.map"/>
        <package android:name="com.aris.launcher.hacker2"/>
        <package android:name="com.mobiledirection.GPSRepairFix"/>
        <package android:name="com.technoviral.fakelivelocation"/>
        <package android:name="com.sinwho.gps"/>
        <package android:name="live.whatismyip.iplocation"/>
        <package android:name="com.ngapp.fakegps"/>
        <package android:name="com.newbie.arpspoofdetectorwifisecurity"/>
        <package android:name="mobi.coolapps.locationsimulator"/>
        <package android:name="com.gstavrinos.fake_gps_movement"/>
        <package android:name="com.pokemayan.skscads"/>
        <package android:name="com.arabapps.fakegps"/>
        <package android:name="com.androidlab.gpsfix"/>
        <package android:name="cl.datacomputer.alejandrob.newgpsjoystick"/>
        <package android:name="com.bomerapps.movablemockgps"/>
        <package android:name="com.trinus.faketrack"/>
        <package android:name="com.vyrazu.mocklocationfakegps"/>
        <package android:name="sarvainfo.screenchanger.filtermode.fakescreen"/>
        <package android:name="pt.com.turnersark.fakegps"/>
        <package android:name="com.apogeeatech.callernamelo"/>
        <package android:name="com.mutiaradev.caramenggunakan_fake_gps"/>
        <package android:name="com.latitudelongitude.gpscoordinates"/>
        <package android:name="com.panshen.simnavitool"/>
        <package android:name="tk.kureksofts.fakegpsvip"/>
        <package android:name="net.hiddenscreen.faketime"/>
        <package android:name="org.remdev.fakegps"/>
        <package android:name="com.unit.fake.call"/>
        <package android:name="com.electro_tex.bluetoothcar"/>
        <package android:name="com.loca.mockpos"/>
        <package android:name="cambiar.ubicacion"/>
        <package android:name="app.com.sandjs.bankaccountfakewallet"/>
        <package android:name="com.devicelocation.changer"/>
        <package android:name="com.offlinegpsapps.gps.maps.navigation.location.tracker.routefinder"/>
        <package android:name="com.jk.gpschanger"/>
        <package android:name="pratham.bkm.photowithgpslocation"/>
        <package android:name="com.mm.app.loaction.application"/>
        <package android:name="tk.kureksofts.fakegps"/>
        <package android:name="com.godevelopers.mockinfo"/>
        <package android:name="com.VorensStudios.FakeCamera"/>
        <package android:name="com.parallelaxiom.fyl"/>
        <package android:name="com.hamzart.falsegps"/>
        <package android:name="com.soft1111.FakeGpsLocation"/>
        <package android:name="com.funtoolsapp.fakegpslocationprofessional"/>
        <package android:name="com.tim.fakegps"/>
        <package android:name="com.tmsoft.mocklocation"/>
        <package android:name="com.arok.fakecaller"/>
        <package android:name="cz.auradesign.gpsguard"/>
        <package android:name="com.cyber.jplove"/>
        <package android:name="com.hookup.apps.hook"/>
        <package android:name="com.socialnetwork.hookupsapp"/>
        <package android:name="com.flipx.chillin"/>

    </queries>

</manifest>