<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pdamkotasmg.goodday"
    android:versionCode="1"
    android:versionName="1.0">
    <!-- <queries> -->
    <!-- <intent> -->
    <!-- <action android:name="android.intent.action.SEND" /> -->
    <!-- <data android:mimeType="image/jpeg" /> -->
    <!-- </intent> -->
<!--    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- </queries> -->
    <!--    get all packages wajib pakai permisi ALL PACKAGES-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>-->

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
<!--    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>-->

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyWork">
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.splash.SplashScreenActivity"
            android:keepScreenOn="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pdamkotasmg.goodday.fitur.profil.ScanQRCodeActivity"></activity>
        <activity android:name="com.pdamkotasmg.goodday.fitur.profil.QrCodeActivity">
        </activity>
        <activity android:name="com.pdamkotasmg.goodday.fitur.presensi.PresensiActivity" >
        </activity>
        <activity android:name="com.pdamkotasmg.goodday.fitur.presensi.CheckLocationActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.perangkat.PerangkatActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.profil.ProfileActivity">
        </activity>
        <activity android:name="com.pdamkotasmg.goodday.fitur.authentication.login.LoginActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.authentication.ReisterActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.authentication.WelcomeAuthActivity" />

        <activity android:name="com.pdamkotasmg.goodday.fitur.payslip.PayslipActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.kehadiran.view.KehadiranActivity" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.dashboard.DashboardActivity">
        </activity>
        <activity android:name="com.pdamkotasmg.goodday.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <service
            android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6810772781589252~8659403587"/>
    </application>

</manifest>