<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"> <!-- <queries> -->
    <!-- <intent> -->
    <!-- <action android:name="android.intent.action.SEND" /> -->
    <!-- <data android:mimeType="image/jpeg" /> -->
    <!-- </intent> -->
    <!--  -->
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="32"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> -->
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyWork"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.DigitalSignatureActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.permintaan.activity.PersetujuanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.menuLainnya.WebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.menuLainnya.ListWebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.DetailLemburActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.RiwayatLemburActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.DetailPerjalananDinasActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.RiwayatPerjalananDinasActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.activity.DetailCutiActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.activity.RiwayatCutiActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.DetailKoreksiKehadiranActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.permintaan.activity.PermintaanActivity"
            android:exported="false" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.KoreksiKehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.perjalananDinas.activity.PerjalananDinasActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.lembur.activity.LemburActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.cuti.CutiActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.koreksiKehadiran.activity.RiwayatKoreksiKehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.daftarKehadiran.DaftarKehadiranActivity"
            android:exported="true" />
        <activity android:name="com.pdamkotasmg.goodday.fitur.splash.IntroActivity" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.splash.SplashScreenActivity"
            android:exported="true"
            android:keepScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pdamkotasmg.goodday.Main2"
            android:keepScreenOn="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.ScanQRCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.QrCodeActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.presensi.PresensiActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.presensi.CheckLocationActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.perangkat.PerangkatActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.profil.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.ReisterActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.authentication.WelcomeAuthActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.payslip.PayslipActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.kehadiran.home.activity.KehadiranActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.fitur.dashboard.DashboardActivity"
            android:exported="true" />
        <activity
            android:name="com.pdamkotasmg.goodday.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <service
            android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.pdamkotasmg.goodday.utils.firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6810772781589252~8659403587" />
    </application>

</manifest>